
*{
    margin:0;
    padding :0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards ;
}

@keyframes moveup {
    
    100%{
        transform: translate(0px);
        opacity: 1;
    }
    
}
body{
   background-color: black;
    color: #fff;

}

  
#header{
    width: 100%;
    height: 100vh;
    
    overflow: hidden;
    

}
.container{
    padding: 10px 5%;

    width: 100%;
    min-height: 100vh;
  
}
nav{
    
   
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    float: right;
   
   
}

nav ul li{
   
    display: inline-block;
    list-style: none;
    margin: 10px 20px ;
}
 
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#0c60dd; 
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;

}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    
    font-size: 30px;
}
.header-text h1{
   animation-delay: 0.5s;
    font-size: 60px;
    margin-left: 40%;
    margin-top: 20%;
}
.header-text h3{
    margin-top: 1%;
    animation-delay: 1s;
    font-size: 30px;
    margin-left: 40%;
   
}


.header-text h1 span{
    color: #0c60dd;
}
.header-text h3 span{
    color: #0c60dd;
}

#backvideo{
    position: absolute;
    top:-50%;
    left:  0;
   

    z-index:-1;
   
}
#back-video{
    z-index: -2;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0s;
}


/*.image-box {
   
    position: absolute;
   bottom: 0;
   top: 15%;
    left: 10%;   
    height: 100vh; 
}
.image-box img{
    position: relative;
}



.pattern{
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    transform: rotate(40deg);
    z-index: -1;
}

.pattern img{
    width: 350px;
    position: absolute;

    top: 0;
    left: 0;
    animation: move 1s linear infinite alternate-reverse;
}
.pattern img:nth-child(1){
    transform: rotate(-45deg) translate(-70px, -50px) scale(.9);
    animation-delay:0.3s;
}
.pattern img:nth-child(2){
    transform: rotate(65deg) translate(0px, -40px) scale(.9);
    animation-delay:1.3s;
}..*/
@keyframes move {
    100%{
        margin-left: 40px;
        margin-top: 20px;
        opacity: 0.3;
    }
    
}

/*........About............*/

#about{
    padding: 80px 0;
    color: #ababab;
    background-color: #080808;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{ 
    flex-basis: 35%;
 }

.about-col-1 img{ 
    
    width: 100%; border-radius: 15px; 
}


.about-col-2{
   
    flex-basis: 60%;

}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin-left: 5px;
}
.aboutme{
    margin-top: 20px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#0c60dd; 
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
}
.tab-links.active-links::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
   
    color: #0c60dd;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


/*........Services............*/
#services{
    padding: 30px;
    background-color: #080808;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 150px;
    margin-top: 50px;

}
.service-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service-list div:hover{
    background:#0c60dd;
    transform: translateY(-10px);
}
/*...........Portfolio.........*/

#portfolio{
    padding: 50px 0;
    background-color: #080808;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 20px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height: 0;
    
    background: linear-gradient(rgba(0,0,0,0.6), #0c60dd);
    border-radius: 10px;
    position:absolute ;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    padding:0 40px ;
    text-align: center;
    font-size: 14px;
    transition: height 0.2s;

}
.layer h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color:#0c60dd;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0c60dd;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration:none ;
    color: #fff;
transition: background 0.5s;

}
.btn:hover{
    background: #0c60dd;
}

/*.......contact.........*/
#contact{
    background-color: #080808;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color:#0c60dd;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration:none ;
    font-size: 30px;
    margin-right:  15px; 
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #0c60dd;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #0c60dd;

}
.contact-right form{
    
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
form .btn2{
    padding:14px 60px ;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}


/*----------css for small screens--------*/

nav .fa-solid{
    display: none;
}


@media only screen and (max-width: 480px) and (min-width:281px ){
  body{
    background-color: black;
  }
    .back-video{
        display: none;
    }
    .backvideo{
       display: block;
       z-index: -1;
     left: 0;
      top: 0;
       width: 100%;
     height: 100%;
       
    }
    
 

  /*.patt{
    display: none;
  }
  .pattern img{
    overflow: hidden;
    z-index: -1;
    display: none;
  }
  .pattern img:nth-child(2){
    transform: rotate(50deg) translate(50px, 45px) scale(.9);
    animation-delay:1.3s;
}
img{
    height: auto;
    max-width: 100%;
    display: block;
}
 .image-box{
   left: -15%;
    bottom: 0;
    
 }...*/

  

  .header-text{
    margin-top: 30%;
    margin-left: 35%;
    font-size: 25px;
    overflow: hidden;
  }



  
    .header-text h1{
     
        display: block;
  margin-left: 10px;
       z-index: 2;
        font-size: 20px;
    }
    .header-text h3{
     
        display: block;
  margin-left: 10px;
       z-index: 2;
        font-size: 20px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        
        
    }
    nav ul{
        
        top: 0;
    left: -100%;
     position: absolute;
        background-color: rgba(12, 96,221, 0.20);
       backdrop-filter: blur(20px);
       
    
      
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
       align-items: center;
       overflow: hidden;
       justify-content: center;
      
        z-index: 2;
        transition: left 0.5s;
       
    }
    
   
    nav ul li{
      display: flex;
      align-items: center;
        
        
       margin: 25px 0;
       
       
      
    }
    nav ul .fa-solid{
        float: right;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    
    .subtitle{
        padding: 5%;
       
        font-size: 40px;
    }
    
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-top: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .about-col-1, .about-col-2{
        padding: 5%;
        flex-basis: 100%;
    }
    .about-col-1{
       
        
     
        margin-bottom: 20px;
    }
    .contact-left, .contact-right{
        padding: 5%;
        flex-basis: 100%;
    }
    .work-list{
        padding: 5%;
        
    }

#msg{
    margin-top: -40px;
    display: block;
}

}
@media screen and (min-width: 481px) and (max-width:768px){
  /*  .image-box{
        left: -10%;
        top: 20%;
    }...*/
    .backvideo{
        display: none;
    }
    .container{
        min-height: auto;
    }
    .back-video{
        position: absolute;
        left: -10%;
        top: 0;
        width: 80%;
    }
    .header-text{
      left: 10%;
     margin-top: 45%;
        font-size: 25px;
      }
      
        .header-text h1{
        
           display: block;
            z-index: 2;
            font-size: 25px;
        }
        .about-col-1, .about-col-2{
            padding: 5%;
            flex-basis: 100%;
        }
        .contact-left, .contact-right{
            padding: 5%;
            flex-basis: 100%;
        }
        .work-list{
            padding: 5%;
            
        }
        .subtitle {
        
          text-align: center;
        }
       
        
}
@media screen and (min-width: 769px) and (max-width: 1040px){

   /* .image-box{
        left: 0;
    }*/
    .header-text{
        font-size: 45px;
    }
    .header-text h1{
        font-size: 45px;
        margin-left: 40%;
    }
    .header-text h3{
        margin-left: 40%;
    }
    .backvideo{
        display: none;
    }
    
    .back-video{
        position: absolute;
       
    
        z-index:-1;
     top: 0;
    }
   
}
@media screen and (min-width: 1041px){
    .back-video{
        position: absolute;
        
  width: 100%;
    
        z-index:-1;
        top: -30%;
        
    }
    .backvideo{
        display: none;
    }
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        
        width: 100%;
        height: auto;
    }
    .backvideo{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
    .backvideo{
        width: 100%;
        height: auto;
    }

}

    

